@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body{
    background-image: url(../imagens/code-cascata.gif);
    background-size: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    overflow-x: hidden;
}
.codeForm{
    width: 100vw;
    display: flex;
    justify-content: center;
}
form{
    background-color: rgba(0, 0, 0, 0.8);
    border: 5px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    margin-top: 30px;
    width: 50%;
}
form h1{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
form p{
    margin: 20px 30px 40px 20px;
    font-size: 14px;
}
form label{
    font-size: 13px;
}
form textarea{
    max-width: 65%;
    max-height: 80px;
    border: 5px solid green;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    background-color: black;
    color: #fff;
    font-family: 'Silkscreen', cursive;
}
.method{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#changeCod{
    text-align: center;
    font-family: 'Silkscreen', cursive;
    color: #fff;
    background-color: black;
    border: 3px solid green;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 160px;
    outline: none;
}
.increment input{
    width: 45px;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    outline: none;
    background-color: black;
    border: 3px solid green;
    color: #fff;
    font-family: 'Silkscreen', cursive;
}
.optionCode{
    display: flex;
    flex-direction: column;
}
#buttonCripto{
    font-family: 'Silkscreen', cursive;
    background-color: green;
    border: transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}
#closeCode{
    margin-bottom: 30px;
}
.redes img{
    background-color: #fff;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;
}
@media(max-width: 1035px){
    form{
        width: 80%;
    }
}